root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 2


[*.java]
ij_java_class_count_to_use_import_on_demand = 1000 # Do not group imports with an asterisk
ij_java_names_count_to_use_import_on_demand = 1000 # Do not group imports with an asterisk
trim_trailing_whitespace = true
ij_any_else_on_new_line = true
ij_any_catch_on_new_line = true
ij_any_finally_on_new_line = true
ij_any_block_comment_at_first_column = false
ij_any_line_comment_at_first_column = false
ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false
ij_continuation_indent_size = 2