@if !customProperty2 foo bar {
  .foo {
    color: black;
  }
}
@else {
  .foo {
    color: white;
  }
}

@if (!DISABLE_KENNEDY) {
  .foo {
    font-family: kennedy;
  }
}

@if (TRUE_PROPERTY) {
  .foo {
    top: 5px;
  }
}
